* {
  font-family: 'Roboto Condensed', sans-serif;
}

.border{
  border: red solid 1px;
}

footer{
  text-align: center;
}

body{
  background-color:rgb(38, 38, 39);
  background-repeat: no-repeat;
  background-size: cover;
}

.uk-navbar-container {
  background-color: #790606;
  background-image: linear-gradient(315deg, #790606 25%, #470505 50%, #000000 100%);
}

.uk-section-large {
  background-color: #790606;
  background-image: linear-gradient(315deg, #790606 25%, #470505 50%, #000000 100%);  
}

.side-search{
  background-color: black;
  background-image: url('images.jpg');
}

.side-bar{
  background-color: black;
}

.side-search-body {
  position: fixed;
  color: white;
}

.side-search-body h3 {
  color: white;
}

.side-search-body label {
  color: white;
}
#searchgames{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  background-color:rgb(35, 205, 220);
  text-align:center;
  transition: all 0.2s;
}

#searchgames:hover{
  background-color:#e71b1b;
}

.gamequery{
  opacity: 0.05%;
}

.grid {
  display: inline-grid;
  grid-template-columns: 250px;
  margin: 20px;
}

.images {
  background-size: cover;
}

.no-results {
  position: relative;
  width: 100%;
  height: 200%;
}

.game-card {
  color: white;
  background-color: rgb(52, 54, 56);
  border-right:rgb(218, 62, 35) 5px solid;
  border-top: rgb(218, 62, 35) 5px solid;
  border-bottom: rgb(35, 205, 220) 5px solid;
  border-left: rgb(35, 205, 220) 5px solid;
  border-radius: 15px;
}

.game-card h4 {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
}

.card-item {
 line-height: 4px;
 font-family: 'Roboto Condensed', sans-serif;
}

.hidden {
  display: none;
}

.game-card:hover .hidden{
  display: inline-block;
}

.add-favorite {
  background-color: rgb(52, 54, 56);
  color: white;
  border-radius: 5px;
  float: top left;
}

.ytube-button {
  background-color: rgb(218, 62, 35);
  border-color: rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 175px;
}

.reddit-button {
  background-color: rgb(35, 205, 220);
  border-color: rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 175px;
}

.reddit-button:hover {
  background-color: rgb(26, 142, 153);
}

.ytube-button:hover {
  background-color: rgb(163, 38, 16);
}



.games-display {
  background-color: black;
}

.tab {
  float: right;
  padding: 20px;
  padding-left: 55%
}

.tablinks {
  border: none;
  padding: 10px;
}

@media (min-width: 960px) {
  .uk-section-large {
    padding-top: 2%;
    padding-bottom: 140px;
  }
}

@media (max-width: 960px) {
  #searchbar {
    width: 20%;
  }
}

@media (max-width: 960px) {
  #searchgames {
    width: 100%;
    font-size: 70%;
  }
}

@media all and (max-width:30em){
  #searchgames{
  display:block;
  margin:0.2em auto;
  }
}

@media (max-width: 300px){
    #searchgames{
    font-size: 5%;
  }
}