.border{
  border: red solid 1px;
}

footer{
  text-align: center;
}

body{
  background-color:rgb(38, 38, 39);
  background-repeat: no-repeat;
  background-size: cover;
}

.gamequery{
  opacity: 0.05%;
}

.grid {
  display: inline-grid;
  grid-template-columns: 250px;
  margin: 20px;
}

.images {
  background-size: cover;
}

.game-card {
  color: white;
  background-color: rgb(52, 54, 56);
  border-right:rgb(218, 62, 35) 5px solid;
  border-top: rgb(218, 62, 35) 5px solid;
  border-bottom: rgb(35, 205, 220) 5px solid;
  border-left: rgb(35, 205, 220) 5px solid;
  border-radius: 15px;
}

.game-card h4 {
  color: white;
}

.card-item {
 line-height: 2px;
}

.hidden {
  display: none;
}

.game-card:hover .hidden{
  display: inline-block;
}

.add-favorite {
  background-color: rgb(52, 54, 56);
  color: white;
  border-radius: 5px;
  float: top left;
}

.ytube-button {
  background-color: rgb(218, 62, 35);
  border-color: rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 175px;
}

.reddit-button {
  background-color: rgb(35, 205, 220);
  border-color: rgb(255, 255, 255);
  border-radius: 25px;
  color: rgb(255, 255, 255);
  width: 175px;
}

.reddit-button:hover {
  background-color: rgb(26, 142, 153);
}

.ytube-button:hover {
  background-color: rgb(163, 38, 16);
}

.side-search {
  background-color: rgb(52, 54, 56);
}

.side-search-body {
  position: fixed;
  background-color: rgb(62, 64, 66);
  color: white;
}

.side-search-body h3 {
  color: white;
}

.side-search-body label {
  color: white;
}

.games-display {
  background-color: black;
}

.tab {
  float: right;
  padding: 20px;
  padding-left: 55%
}
.tablinks {
  border: none;
  padding: 10px;
}

@media (min-width: 960px) {
  .uk-section-large {
    padding-top: 2%;
    padding-bottom: 140px;
  
    
  }
}
@media (max-width: 960px) {
  #searchbar {
    width: 20%;
  }
}

@media (max-width: 960px) {
  #searchgames {
    width: 100%;
    font-size: 70%;
  }
}
/* .uk-section-large {
background-color: #55efc4;
background-image: linear-gradient(315deg, #55efc4 0%, #000000 74%);

} */
.uk-section-large{
  background-image: url('537089.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.side-search{
  background-color: black;
  background-image: url('images.jpg');
}
.side-bar{
  background-color: black;
}

#searchgames{
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:#4ef1f1;
  text-align:center;
  transition: all 0.2s;
  }
  #searchgames:hover{
  background-color:#e71b1b;
  }
  @media all and (max-width:30em){
   #searchgames{
  display:block;
  margin:0.2em auto;
  }
  }

  @media (max-width: 300px){
    #searchgames{
      font-size: 5%;
    }
  }